* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat, Arial, sans-serif;
}

#lead-tracker {
    background: url(../../images/lead-tracker-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    min-height: 200px;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

#input-url {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid rgb(121, 104, 13);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    background:rgb(121, 104, 13);
    color: white;
    cursor: pointer;
    border-radius: 1px;
    transition: all 0.1s ease-in-out;
}
button:hover {
    background: white;
    color: rgb(121, 104, 13);
    font-weight: bold;
}
button:active {
    font-weight: normal;
}

#display-url {
    list-style: none;
}

#display-url li {
    margin: 10px;
    border-bottom: 2px solid rgb(121, 104, 13);
    border-left: 2px solid rgb(121, 104, 13);
    padding: 2px 12px;
}

#display-url  li a{
    color:rgb(121, 104, 13);
    font-weight: bold;
    text-decoration: none;
}